<%- include("partials/header"); -%>
<div class="body">
  <div class="body-content">

    <div class="title-result">
      <h2 class="title">Double check the information prior to decommissioning the panel</h2>
    </div>
    <!-- <div class="container"> -->

    <div class="row">
      <% patchpanel.forEach(function(panel){ %>

      <div class="col col-lg-6 center">
        <div class="card-deck">

          <div class="card text-center mb-3">
            <div class="card-body">
              <h5 class="card-title">Patch-Panel ID: <%= panel._patchpanel %></h5>
              <p class="text-secondary card-text">Rack: <%= panel.rack %></p>
              <p class="text-secondary card-text">Connection type: <%= panel.type %></p>
              <p class="bar card-text rackCapacity" name="capacity">Current capacity: <%= panel.capacity %></p>

            </div>
          </div>
        </div>
        <form class="" action="/confirmdeletepp" method="post">
          <div class="row">
            <input type="hidden" name="az" value="<%=panel.az%>">
            <input type="hidden" name="patchpanel" value="<%=panel._patchpanel%>">
            <button class="btn btn-secondary btn-lg btn-block" type="submit" name="submit">Decommission</button>
          </div>
        </form>
      </div>

      <% }); %>
    </div>

    <div class="return-button">
      <a href="/delete" class="btn btn-outline-secondary">Return</a>
    </div>

    <!-- </div> -->
  </div>

  <%- include("partials/footer.ejs"); -%>
