<%- include("header"); -%>

<div class="container-fluid">
  <div class="title-result">
    <h2>Cross-Connect Records for <%= valueOfData %> </h2>
  </div>

  <table class="table table-dark btn-secondary">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Carrier</th>
        <th scope="col">Bandwidth (Gbps)</th>
        <th scope="col">Patch-Panel</th>
        <th scope="col">Port</th>
        <th scope="col">Device</th>
        <th scope="col">Interface</th>
        <th scope="col">AZ</th>
        <th scope="col">Cluster</th>
        <th scope="col">Capacity</th>
      </tr>
    </thead>
    <tbody>

      <% connection.forEach(function(ckt){ %>


      <tr>
        <th><%= ckt._circuit %> </th>
        <td><%= ckt.serviceprovider %></td>
        <td><%= ckt.bandwidth %></td>
        <td><%= ckt.patchpanel %></td>
        <td><%= ckt.patchpanelport %></td>
        <td><%= ckt.device %></td>
        <td><%= ckt.interface %></td>
        <td><%= ckt.az %></td>
        <td><%= ckt.cluster %></td>
      </tr>

      <% }); %>

    </tbody>
  </table>
</div>
